<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="
          d-flex
          flex-column
          align-items-center align-items-sm-start
          px-3
          pt-2
          text-white
          new
        "
      >
        <ul
          class="
            nav nav-pills
            flex-column
            mb-sm-auto mb-0
            align-items-center align-items-sm-start
          "
          id="menu"
        >
          <li class="nav-item">
            <a routerLink="/users/profile" class="nav-link align-middle px-0">
              U<span class="d-none d-sm-inline left-space">ser Profile</span>
            </a>
          </li>

          <li>
            <a
              href="#submenu2"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              R<span class="d-none d-sm-inline">esume Builder</span></a
            >
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu2"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a routerLink="/resumes/resume" class="nav-link px-0">
                  E<span class="d-none d-sm-inline">dit Resume</span>
                </a>
              </li>
              <li>
                <a routerLink="/resumes/template" class="nav-link px-0">
                  M<span class="d-none d-sm-inline">y Resume</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <hr />
        <div class="dropdown pb-4">
          <a
            href="#"
            class="
              d-flex
              align-items-center
              text-white text-decoration-none
              dropdown-toggle
            "
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            U<span class="d-none d-sm-inline">ser Settings</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li>
              <a class="dropdown-item" routerLink="/users/edit">Edit Profile</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" (click)="_authService.logoutUser()"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
